.git
.idea
.gitignore
.mypy_cache/
.vscode/
venv
__pycache__/

/tests

help.txt
help_tests.py

services/ffmpeg_windows
services/ai_service_requests.py
services/ai_service.py
services/split_audio.py


handlers/admin_handlers.py
handlers/other_handlers.py
handlers/private_user_handlers.py

requirements_all.txt
requirements.txt



