.git
.idea
.gitignore
.mypy_cache/
.vscode/
venv

__pycache__


/tests

help_tests.py

services/ffmpeg_windows
services/ai_service_requests.py
services/ai_service.py
services/split_audio.py


handlers/admin_handlers.py
handlers/other_handlers.py
requirements.txt

My_diary_Voice_Assist_bot.txt
Container and Artifact Registry Help.txt

bot_polling_run.py
updates_example.py

bot_and_http_server.sh

README.md
Dockerfile_openAI_lib
Dockerfile_polling_http_sever
